// TODO 底下這段會讓Google page speed 分數炸掉，先拔掉驗收去，炸了再說
//@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
//* {
//    font-family: 'Noto Sans TC';
//}
//

/* Article */

.page-head{
	background: #ed564b;
	padding: 20px 0px;
	color: #fff;
		border-top:5px solid #f96b61;
	border-bottom:5px solid #f96b61;
}

.page-head h3{
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
}

article.post, article.page, section.error-404{
	margin-bottom: 40px;
}

h1.entry-title{
	margin-top:10px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 36px;
	color: #000;
}

h1.entry-title a:link, h1.entry-title a:visited{
	color: #000;
}

.entry-meta{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
}

/* Layout */

#primary, #secondary{
	padding-top: 40px;
	padding-bottom: 40px;
}

.doverlay{
	background: url(images/overlay.png);
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top:0px;
	z-index: 100;

}

img.grayscale {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

/* Article */

.page-head{
	background: #ed564b;
	padding: 20px 0px;
	color: #fff;
		border-top:5px solid #f96b61;
	border-bottom:5px solid #f96b61;
}

.page-head h3{
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
}

article.post, article.page, section.error-404{
	margin-bottom: 40px;
}

h1.entry-title{
	margin-top:10px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 36px;
	color: #000;
}

h1.entry-title a:link, h1.entry-title a:visited{
	color: #000;
}

.entry-meta{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
}

/* Widgets */
.widget {
	margin: 0 0px 30px 0px;
	
}

h1.widget-title, h3.sidetitl {
    font-size: 20px;
 	color:#000;
 	height: 60px;
 	line-height: 60px;
 	text-transform: uppercase;
 	font-weight: bold;
}

.widget ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px 0px 20px 0px;
}

.widget li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.widget ul ul {
    list-style-type: none;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}

.widget ul li {
    list-style-type: none;
    margin: 0px;
    margin: 0px 0px;
    color: #6f7779;
}

.widget ul li a:link,.widget ul li a:visited {
    color: #6f7779;
    text-decoration: none;
}

.widget ul li a:hover{
	color:#ed564b;
}

.widget.widget_categories ul li,.widget.widget_pages ul li,.widget.widget_archive ul li,.widget.widget_links ul li,.widget.widget_meta ul li {
    border-bottom: 1px dotted #ddd;
    padding: 7px 0px;
}

.widget.widget_recent_entries ul li  {
	padding: 7px 0px;
     border-bottom: 1px dotted  #ddd;
}

.widget ul#recentcomments li.recentcomments {
     border-bottom: 1px dotted  #ddd;
    padding: 7px 0;
}

.widget .textwidget p {
    padding: 0px 0px;
}

.widget .tagcloud {
    padding: 0px 0px 20px 0px;
}

.widget .tagcloud a{
	color:#F5634A;
}

.widget #calendar_wrap{
	padding:0px 20px 20px 20px;
	color: #6f7779;
}

.widget_ns_mailchimp{
	background: #fff;
	border:1px solid #eaeaea;
	padding: 20px 20px;
}

.widget_ns_mailchimp input.button{
	width: 110px;
	margin: 10px 0px 0px 0px;
}

.squarebanner{
	margin:0px;
}


.squarebanner ul{
	margin:0px 0px 0px 0px;
	padding:0px 0px 10px 0px !important;

}

.squarebanner ul li{
	margin:10px 20px 5px 0px;
	list-style:none;
	float:left;

}
.squarebanner ul li img{
	width: 110px;
	height: 110px;
}

li.rbanner{
	margin-right:0px!important;
}


/*
Nested Dropdown
*/
.dropdown-submenu {
    padding-left: 32px;
}
.dropdown-submenu a{
    cursor: pointer;
}

/* Slider */

#slidebox{
	background: rgb(100, 100, 100);
}
.flex-caption{
	width: 800px;
	position: absolute;
	top:40%;
	left: 50%;
	margin-left: -400px;
	text-align: center;
	z-index: 120;
	color: #fff;
	
}	

/* Home widgets */

.flex-caption h2{
	text-transform: uppercase;
	font-size: 36px;
	color: #fff;
}

.flex-caption h2 a:link, .flex-caption h2 a:visited{
	color: #fff;
}

.flex-caption p{
	font-size: 16px;
}


.fwidgets{
	padding: 40px 0px;
	background: #ed564b;
	border-top:5px solid #f96b61;
	border-bottom:5px solid #f96b61;
}

.homewidget{
	color: #fff;
	text-align: center;
}

.homewidget span{
	border: 5px solid #fff;
	background: transparent;
	width: 70px;
	height: 70px;
	border-radius: 35px;
	display: block;
	line-height: 65px;
	text-align: center;
	margin: 0px auto;
	font-size: 20px;
}

.homewidget h4 {
    margin-top: 23px;
}

.homewidget p {
    font-size: 1em;
    letter-spacing: 0.05em;
    color: rgb(230, 230, 230);
    font-weight: lighter;
}

/* Homepage */

.section-wide{
	margin-top:40px;
}
.sec{
	margin-bottom: 40px;
}
.section-title{
	text-transform: uppercase;
	padding-bottom: 5px;
}
.section-title h2{
	color: rgb(30, 30, 30);
	font-weight: bold;
	margin-bottom: 10px;
}

.section-title p{
	border-bottom: 1px solid #dfdfdf;
	color: #aaa;
	padding-bottom: 20px;
}

.portbox,.postbox,.hthumb{
	position: relative;

}
.hthumb a img{
	display: block;
}

.section-wide h4{
	color: rgb(30, 30, 30);
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}

.section-wide p{
	color: rgb(150, 150, 150);
	font-size: 16px;
	margin-bottom: 20px;
}

.section-img img{
	max-width: 100%;
	margin: 20px auto 40px auto;
}
