<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
</head>

<body style="background-color:#f8f9fa;padding:12px;">
    <div style="width: 100%; max-width: 56rem; p-4">
        <div
            style="width: 100%; padding-left: 1rem;padding-right: 1rem; padding-top: 1.5rem;padding-bottom: 1.5rem; background-color: white;border-width: 1px;border-color: #65676b; border-radius: .125rem;">
            <div style="width: 100%; margin-bottom: 2.5rem;">
                <div style="width: 100%; font-size: 1.5rem;line-height: 2rem; font-weight: 700; text-align: right;">
                    歡迎，新竹市</div>
                <div style="">
                    <div style="margin-right: 2rem; font-size: 1.5rem;line-height: 2rem; font-weight: 700;">計畫管考項目狀態通知
                    </div>
                </div>
                <div style="padding-left: 6rem; font-size: 1.5rem;line-height: 2rem; font-weight: 700;">新竹市您好：</div>
                <div style="padding-left: 6rem; font-size: 1.5rem;line-height: 2rem; font-weight: 700;">
                    今天是113年5月30日，計畫管考項目狀態通知如下：</div>
            </div>
            <div style="margin-bottom: 2.5rem;">
                <div style="margin-bottom: 0.5rem; font-weight: 700;">管考項目</div>
                <table border
                    style="width: 100%; text-align:  center;text-indent: 0;border-color: #65676b;border-collapse: collapse;border-width: 1px;">
                    <tr style="font-weight: 700; border-bottom-width: 1px;border-color: #65676b;">
                        <th style="padding: 0.5rem; border-right-width: 1px;border-color: #65676b;">
                            項目</th>
                        <th style="padding: 0.5rem; border-right-width: 1px;border-color: #65676b;">
                            截止日期</th>
                        <th style="padding: 0.5rem;">
                            狀態</th>
                    </tr>
                    <tr style="border-bottom-width: 1px;border-color: #65676b;">
                        <td style="padding: 0.5rem; border-right-width: 1px;border-color: #65676b;">
                            計畫執行成果</td>
                        <td style="padding: 0.5rem; border-right-width: 1px;border-color: #65676b;">
                            113/5/31
                        </td>
                        <td style="padding: 0.5rem; text-align: center;">
                            <div
                                style="text-align: center; vertical-align: middle; margin-bottom: 0.25rem; padding-top: .25rem; margin-left: auto;margin-right: auto; font-size: .875rem;line-height: 1.25rem; color: white; background-color: rgb(234 179 8); border-radius: .5rem; height: 1.75rem; width: 6rem;">
                                即將逾期
                            </div>
                        </td>
                    </tr>
                    <tr style="border-bottom-width: 1px;border-color: #65676b;">
                        <td style="padding: 0.5rem; border-right-width: 1px;border-color: #65676b;">
                            縣市執行計畫</td>
                        <td style="padding: 0.5rem; border-right-width: 1px;border-color: #65676b;">
                            113/5/25
                        </td>
                        <td style="padding: 0.5rem;">
                            <div
                                style="text-align: center; vertical-align: middle; margin-bottom: 0.25rem; padding-top: .25rem; margin-left: auto;margin-right: auto; font-size: .875rem;line-height: 1.25rem; color: white; border-radius: .5rem; height: 1.75rem; width: 6rem; background-color: rgb(225 29 72);">
                                逾期</div>
                        </td>
                    </tr>
                    <tr style="border-bottom-width: 1px;border-color: #65676b;">
                        <td style="padding: 0.5rem; border-right-width: 1px;border-color: #65676b;">
                            期末簡報上傳</td>
                        <td style="padding: 0.5rem; border-right-width: 1px;border-color: #65676b;">
                            113/5/1
                        </td>
                        <td style="padding: 0.5rem; text-align: center; vertical-align: middle;">
                            <div
                                style="text-align: center; vertical-align: middle; margin-bottom: 0.25rem; padding-top: .25rem; margin-left: auto;margin-right: auto; font-size: .875rem;line-height: 1.25rem; color: white; border-radius: .5rem; height: 1.75rem; width: 6rem; background-color: rgb(225 29 72);">
                                逾期</div>
                        </td>
                    </tr>
                    <tr style="border-bottom-width: 1px;border-color: #65676b;">
                        <td style="padding: 0.5rem; border-right-width: 1px;border-color: #65676b;">
                            優良範本資料</td>
                        <td style="padding: 0.5rem; border-right-width: 1px;border-color: #65676b;">
                            113/6/30
                        </td>
                        <td style="padding: 0.5rem; text-align: center; vertical-align: middle;">
                            <div
                                style="text-align: center; vertical-align: middle; margin-bottom: 0.25rem; padding-top: .25rem; margin-left: auto;margin-right: auto; font-size: .875rem;line-height: 1.25rem; color: white; background-color: rgb(234 179 8); border-radius: .5rem; height: 1.75rem; width: 6rem;">
                                即將逾期</div>
                        </td>
                    </tr>
                    <tr style="border-bottom-width: 1px;border-color: #65676b;">
                        <td style="padding: 0.5rem; border-right-width: 1px;border-color: #65676b;">
                            縣市季進度管制表-期中</td>
                        <td style="padding: 0.5rem; border-right-width: 1px;border-color: #65676b;">
                            113/5/31
                        </td>
                        <td style="padding: 0.5rem; text-align: center; vertical-align: middle;">
                            <div
                                style="text-align: center; vertical-align: middle; margin-bottom: 0.25rem; padding-top: .25rem; margin-left: auto;margin-right: auto; font-size: .875rem;line-height: 1.25rem; color: white; background-color: rgb(234 179 8); border-radius: .5rem; height: 1.75rem; width: 6rem;">
                                即將逾期</div>
                        </td>
                    </tr>
                    <tr style="border-bottom-width: 1px;border-color: #65676b;">
                        <td style="padding: 0.5rem; border-right-width: 1px;border-color: #65676b;">
                            縣市季進度管制表-期末</td>
                        <td style="padding: 0.5rem; border-right-width: 1px;border-color: #65676b;">
                            113/5/26
                        </td>
                        <td style="padding: 0.5rem; text-align: center; vertical-align: middle;">
                            <div
                                style="text-align: center; vertical-align: middle; margin-bottom: 0.25rem; padding-top: .25rem; margin-left: auto;margin-right: auto; font-size: .875rem;line-height: 1.25rem; color: white; border-radius: .5rem; height: 1.75rem; width: 6rem; background-color: rgb(225 29 72);">
                                逾期</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="margin-bottom: 2.5rem;">
                <div style="margin-bottom: 0.5rem; font-weight: 700;">績效評估自評表</div>
                <table border
                    style="width: 100%; text-align: center; border-width:1px;text-indent: 0;border-color: #65676b;border-collapse: collapse;">
                    <tr style="font-weight: 700; border-bottom-width: 1px;border-color: #65676b;">
                        <th style="padding: 0.5rem; border-right-width: 1px;border-color: #65676b;">
                            項目</th>
                        <th style="padding: 0.5rem; border-right-width: 1px;border-color: #65676b;">
                            填報日期</th>
                        <th style="padding: 0.5rem;">
                            狀態</th>
                    </tr>
                    <tr style="border-bottom-width: 1px;border-color: #65676b;">
                        <td style="padding: 0.5rem; border-right-width: 1px;border-color: #65676b;">
                            112年度強韌臺灣大規模風災震災整備與協作計畫評估指標表－直轄市、縣（市）
                        </td>
                        <td style="padding: 0.5rem; border-right-width: 1px;border-color: #65676b;">
                            113/4/1～113/12/1
                        </td>
                        <td style="padding: 0.5rem; text-align: center; vertical-align: middle;">
                            <div
                                style="text-align: center; vertical-align: middle; margin-bottom: 0.25rem; padding-top: .25rem; margin-left: auto;margin-right: auto; font-size: .875rem;line-height: 1.25rem; color: white; background-color: rgb(234 179 8); border-radius: .5rem; height: 1.75rem; width: 6rem;">
                                進行中</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="margin-bottom: 2.5rem;">
                <div style="margin-bottom: 0.5rem; font-weight: 700;">進階防災士逾期狀況</div>
                <table border
                    style="width: 100%; text-align: center; text-indent: 0;border-color: #65676b;border-collapse: collapse;border-width: 1px;">
                    <tr style="font-weight: 700; border-bottom-width: 1px;border-color: #65676b;">
                        <th style="padding: 0.5rem; border-right-width: 1px;border-color: #65676b;">
                            姓名</th>
                        <th style="padding: 0.5rem; border-right-width: 1px;border-color: #65676b;">
                            進階防災士受訓中狀態到期日</th>
                        <th style="padding: 0.5rem;">
                            狀態</th>
                    </tr>
                </table>
            </div>
            <div style="margin-bottom: 2.5rem;">
                <div style="margin-bottom: 0.5rem; font-weight: 700;">韌性社區逾期狀況</div>
                <table border
                    style="width: 100%; text-align: center; text-indent: 0;border-color: #65676b;border-collapse: collapse;border-width: 1px;">
                    <tr style="font-weight: 700; border-bottom-width: 1px;border-color: #65676b;">
                        <th style="padding: 0.5rem; border-right-width: 1px;border-color: #65676b;">
                            社區名稱</th>
                        <th style="padding: 0.5rem; border-right-width: 1px;border-color: #65676b;">
                            星等</th>
                        <th style="padding: 0.5rem;">
                            狀態</th>
                    </tr>
                    <tr style="border-bottom-width: 1px;border-color: #65676b;">
                        <td style="padding: 0.5rem; border-right-width: 1px;border-color: #65676b;">
                            新竹市東區科園里
                        </td>
                        <td style="padding: 0.5rem; border-right-width: 1px;border-color: #65676b;">
                            <div>一星</div>
                            <div style="font-size: .875rem;line-height: 1.25rem;">
                                (有效期限： 2023-09-10)
                            </div>
                        </td>
                        <td style="padding: 0.5rem; text-align: center; vertical-align: middle;">
                            <div
                                style="text-align: center; vertical-align: middle; margin-bottom: 0.25rem; padding-top: .25rem; margin-left: auto;margin-right: auto; font-size: .875rem;line-height: 1.25rem; color: white; bg-rose-500 border-radius: .5rem; height: 1.75rem; width: 6rem;">
                                逾期
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>